.contact-phone[title] {
    position: fixed;
    bottom: 10px;
    left: 20px;
    border-radius: 30px;
    padding: 8px 12px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 20px 16px rgba(0, 0, 0, 0.15) inset;
    z-index: 9999;
  }
  
  .circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    animation: slideIn 1s infinite ease-in-out;
  }
  
  .sdt {
    color: #1b1919;
    font-size: 20px;
    font-weight: bold;
  }

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* het contact-phone */


.contact-phone[title] {
  color: #ff0000;
  font-size: 16px;
  /* Các thuộc tính CSS khác */
}