#cart-item-list {
  margin-top: 50px;
  padding: 0 10% ;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.productItem{
  margin-top: 20px;
  width: 50%;
  border: 1px solid grey;
  padding: 10px;
  border-radius: 10px;
}
.productItem span{
  font-size: 20px;
}
.productItem img{
  width: 50%;
}
.productItem p{
  font-size: 16px;
  color:red;
  font-weight: bolder;
}
.productItem button{
  background-color: red;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.productItem button:hover{
  background-color: darkred;
}