.cart-item {
  display: none;
  position: fixed;
  top: 50%;
  background-color: #fff;
  padding: 20px;
  z-index: 9999;
  /* min-width: 600px;
    min-height: 400px; */
  width: 100%;
  height: 100%;
  border-radius: 10px
}

.cart-item h2 {
  text-align: center;
}

.cart-item-list {
  /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; */
  /* display: flex !important;
  flex-wrap: wrap;
  justify-content: center; */
  display: inline;
  margin-top: 20px;
  width: 100%;
}

.ItemProductDetail {
  width: 20%;
  padding: 10px;
}

.ItemProductDetail img {
  width: 100%;
}

.ItemProductDetail .detailPrice {
  color: red;
}

.cart-item-details {
  text-align: center;
}

.item-name {
  font-weight: bold;
}

.item-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

.item-price {
  color: green;
}

/* het cart-item */


/* lớp màu đen khi click vào cart-item */
.overlay {
  display: block;
}