#cart-item-list {
  margin-top: 50px;
  padding: 0 10%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cart-item .title-cart {
  text-align: center;
  margin-top: 20px;
}

.cart-empty{
  color:#333;
}

.cart-item .title-cart a i {
  color: rgb(0, 0, 0);
  position: absolute;
  background-color: #fff;
  padding: 5px 9px;
  border-radius: 5px;
  color: red;
  right: 1%
}

.productItem {
  margin-top: 20px;
  width: 100%;
  border: 1px solid grey;
  padding: 10px;
  border-radius: 10px;
}

.productItem span {
  font-size: 20px;
}

.productItem img {
  width: 60%;
  margin: 0 auto;
}

.productItem p {
  font-size: 16px;
  color: red;
  font-weight: bolder;
}

.productItem button {
  background-color: red;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.productItem button:hover {
  background-color: darkred;
}

#totalPrice, #bookProducts{
  padding:.9% 10%;
}
#totalPrice{
  font-weight: bold;
  font-size: 30px;
}
#bookProducts button{
  padding: 6px 9px;
  border: none;
  border-radius: 10px;
  color: #fff;
  background-color: green;
  width: 100%;
}


/* form-order */
.form-order{
  border: 1px solid rgb(155, 155, 155);
  padding:5% ;
  margin-bottom: 30px;
}

.form-order .inod{
  margin-bottom: 15px;
}

input{
  border: none;
  outline: none;
}

input:focus{
  border-bottom: 1px solid rgba(0, 128, 0);
}


/* empty cart */
.fa-cart-shopping{
  color:orange;
  font-size: 22px;
}
