.cart {
    position: relative;
}
.cart-counter {
    position: absolute;
    top: 0px;
    right: -5px;
    background-color: red;
    color: white;
    font-size: 10px;
    padding: 2px 5px;
    border-radius: 50%;
    transform: translate(50%, -50%);
}

.cart-item{
    /* display: none; */
    position: absolute;
    background-color: rgba(0, 0, 0, 0.37);
    width: 400px;
    height: 300px; 
}


.cart-item {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: white;
    padding: 20px;
    text-align: center;
  }
  
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
  }
  
  body {
    overflow: auto;
  }

  /* them css cho class active */
  .active{
    font-weight: bolder;
  }
