#home, #men, #women, #kids {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.product{
    padding: 10px;
    text-align: center;
    margin: 20px 0;
    width: 241px;
    border: 1px solid rgba(128, 128, 128, 0.192);
    padding: 20px;
    margin: 20px 30px;
}
.product:hover img{
    width: 100%;
    
}
.product h3{
    height:30px;
    font-size: 16px;
}
.product img{
    width: 90%;
    height:280px;
    margin-bottom: 10px;
}
.product p{
    color:red;
}

.chuabtn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.product .cartButton{
    margin-top:20px;
}
.inputQuantity{
    width: 100%;
}

.cartButton {
    position: relative;
    background-color: #f1f1f1;
    color: rgb(39, 39, 39);
    font-size: 16px;
    cursor: pointer;
    border: 1px solid grey;
    border-radius: 10px;
    width: 180px;
    padding: 8px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fa-shopping-cart {
    margin-right: 5px;
    font-size: 30px;
    transition: 0.5s;
    transform: translateX(-30%);
}
span {
    transition: 0.5s;
}

.cartButton.clicked .fa-shopping-cart {
    transform: translateX(0%);
}

.color {
    color: rgb(0, 175, 0);
    font-weight: 500;
}